
/* Navigation */
.nav-container{
    border: 1px solid blue;
}

.nav-container table{
    width: 100%;
    table-layout: fixed;
}

.nav-container th{
    width: auto;
    border: 1px solid green;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Main part */
main{
    place-items: center;
}


.queue-container{
    border: 1px black solid;
    margin-top: 5rem;
    height: 30rem;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}

#drop-zone{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    height: 200px;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: slategray;
    cursor: pointer;
}

#file-input{
    display: none;
}


